name: ci
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: denoland/setup-deno@v1
      # NOTE: 'master' should be replaced with a specific version.
      - uses: eibens/edcb@master
        with:
          version: master
